<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {color:red;}
        input[type='submit'] {
            color: blue;
            width: 150px;
            height: 30px;
        }
    </style>
</head>
<body>
    <h1>Weet je zeker dat je deze rol wilt verwijderen?</h1>
    <h2>rolnaam:{{rol.naam}}</h2>
    <h2>rolwaarde:{{rol.waarde}}</h2>
    <form action="" method="post">
        {%csrf_token%}
        <input type="submit" value="Rol verwijderen">
    </form>

</body>
</html>