<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color:red;
        }
    </style>
</head>
<body>
    <h1>Weet je zeker dat je dit huis van de markt wilt halen?</h1>
    <h2>Adres:{{bieding.house.straat}}</h2>
    <h2>Postcode:{{bieding.house.postcode}}</h2>
    <h2>Plaats:{{bieding.house.plaats}}</h2>
    <form action="" method="post">
        {%csrf_token%}
        <input type="submit" value="Verwijder Huis">
    </form>
    
</body>
</html>