{% extends "header.html" %} 
<!DOCTYPE html>
<html lang="en">
{% block content %} 
<style>
    .orange {
        background-color: orange;
        color:white;
        padding: 5px;
        border-right: solid white 2px;
    }
        
    .grey1 {
        background-color: #f2f2f2;
        color:black;
        padding: 5px;
        border-right: solid white 1px;
        border-left: solid white 1px;
        border-bottom: solid white 1px;
        height: 40px;
        
        
    }
    .grey1:hover {
        opacity: 0.9;
    }    
    
    
</style>

</head>
<body>



<br>
<div class="row offset-1">
<h2>Relaties opschonen</h2>
</div>
<div class="row offset-1">
<div class="col-4 orange"><h5>Naam</h5></div>
<div class="col-2 orange"><h5>Email</h5></div>
<div class="col-2 orange"><h5>Rol</h5></div>
</div>

{% for gebruiker in gebruikers%}
<div class="row offset-1">
<div class="col-4 grey1">{{gebruiker.username}}</div>
<div class="col-2 grey1">{{gebruiker.email}}</div>
<div class="col-2 grey1">{{gebruiker.role.naam}}</div>
<div class="col-1 text-center grey1"><a href="relaties/{{gebruiker.id}}">Wijzigen</a></div>

</div>
{%endfor%}



</body>
</html>
{%endblock%}